.CalcButton {
  border: 2px solid black;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.CalcButton:active {
  box-shadow: 0 5px whitesmoke;
  transform: translateY(2px);
}