h1 {
  font-family: "Roboto";
  font-size: 3.8em;
  color: white;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

button:hover {
  cursor: pointer
}