.ScoreTable {
  background-color: white;
  height: 80%;
}

.ScoreTable-upper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin: 0;
  padding: 0.2rem;
  font-size: 1.9rem;
  text-decoration: underline;
  padding: 0.3rem;
  padding-top: 0.5rem;
}

.ScoreTable-lower-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  margin: 0;
  padding: 0.2rem;
  font-size: 1.9rem;
  text-decoration: underline;
  padding: 0.3rem;
}

.ScoreTable table {
  width: 90%;
  margin: 0 auto;
  height: auto;
  min-width: 400px;
}

.ScoreTable-upper-section {
  height: 45%;
}

.ScoreTable-lower-section {
  height: 53.5%;
}