.ScoreRow {
  width: 100%;
  color:#515152;
}

.ScoreRow-locked {
  width: 100%;
  color: black;
  font-weight: 600;
}

.ScoreRow-item-title {
  text-align: left;
}

.ScoreRow-item-score {
  text-align: right;
}

.ScoreRow > .ScoreRow-item-score:hover {
  cursor: pointer
}

td, th {
  border-bottom: 1px solid #7f7fd5;
}